table.logs {
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    tr {
        --bgOpacityBase: 0;
        --increase: 0.05;
        --bgOpacity: var(--bgOpacityBase);
        border-top: .5px solid #d3d3d3;
        background-color: rgba(0, 0, 0, var(--bgOpacity));
    }

    td,
    th {
        padding: 0 0.5rem;
        vertical-align: top;
    }

    th {
        color: var(--secondaryColor);
    }

    td.date,
    td.number {
        white-space: nowrap;
    }

    td.class-name {
        max-width: 350px;
        overflow-wrap: break-word;
    }

    td.message {
        /* max-width: 50vw; */
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    div.call-id {
        font-size: 12px;
        white-space: nowrap;
        font-style: italic;
    }

    tr.level-1,
    tr.level-3 {
        --bgOpacityBase: 0.1;
        --increase: 0.1;
    }

    /* Info */
    tr.level-0 {
        --bgOpacityBase: 0.05;
        --increase: 0.05;
        background-color: rgba(0, 0, 255, var(--bgOpacity));
    }

    /* Warning */
    tr.level-1 {
        background-color: rgba(255, 255, 0, var(--bgOpacity));
    }

    /* Error */
    tr.level-2 {
        --bgOpacityBase: 0.2;
        --increase: 0.1;
        background-color: rgba(255, 0, 0, var(--bgOpacity));
    }

    /* Debug */
    tr.level-3 {
        background-color: rgba(0, 255, 0, var(--bgOpacity));
    }

    tr:nth-child(even) {
        --bgOpacity: calc(var(--bgOpacityBase) + var(--increase));
    }

    tr:hover {
        --bgOpacity: calc(var(--bgOpacityBase) + 2 * var(--increase));
    }

    tr:nth-child(even):hover {
        --bgOpacity: calc(var(--bgOpacityBase) + 3 * var(--increase));
    }
}

.fav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0.2rem 0 0;
    font-size: 12px;
}