table.logs,
div.logs {
    line-height: 1.3;
    font-size: 14px;

    td.date,
    .td.date,
    td.number,
    .td.number {
        white-space: nowrap;
    }

    td.class-name,
    .td.class-name {
        max-width: 350px;
        overflow-wrap: break-word;
        text-overflow: initial;
        white-space: wrap;
    }

    td.message,
    .td.message {
        text-overflow: initial;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    div.call-id {
        font-size: 12px;
        white-space: nowrap;
        font-style: italic;
    }

    tr.level-1,
    .logs-row.level-1,
    tr.level-3,
    .logs-row.level-3 {
        --bgOpacityBase: 0.1;
        --increase: 0.1;
    }

    /* Info */
    tr.level-0,
    .logs-row.level-0 {
        --bgOpacityBase: 0.05;
        --increase: 0.05;
        background-color: rgba(0, 0, 255, var(--bgOpacity));
    }

    /* Warning */
    tr.level-1,
    .logs-row.level-1 {
        background-color: rgba(255, 255, 0, var(--bgOpacity));
    }

    /* Error */
    tr.level-2,
    .logs-row.level-2 {
        --bgOpacityBase: 0.2;
        --increase: 0.1;
        background-color: rgba(255, 0, 0, var(--bgOpacity));
    }

    /* Debug */
    tr.level-3,
    .logs-row.level-3 {
        background-color: rgba(0, 255, 0, var(--bgOpacity));
    }

    tr:nth-child(even),
    .logs-row:nth-child(even) {
        --bgOpacity: calc(var(--bgOpacityBase) + var(--increase));
    }

    tr:hover,
    .logs-row:hover {
        --bgOpacity: calc(var(--bgOpacityBase) + 2 * var(--increase));
    }

    tr:nth-child(even):hover,
    .logs-row:nth-child(even):hover {
        --bgOpacity: calc(var(--bgOpacityBase) + 3 * var(--increase));
    }
}

.fav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0.2rem 0 0;
    font-size: 12px;
}

.table-wrapper {
    min-height: 45vh;
    max-height: 100vh;
    height: 100%;
}