.search {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    width: 100%;

    --background: var(--quaternaryColor);
    --border: var(--primaryColor);
    --focus: var(--tertiaryColor);

    input {
        width: 100%;
        max-width: 350px;
    }

    button {
        background-color: var(--background);
        border: 1px solid var(--border);
        min-width: 24px;
    }

    button:hover,
    button:focus {
        background-color: var(--focus);
        color: var(--white);
    }

    button.enabled {
        background-color: var(--border);
        color: var(--white);
    }

    .remove-button {
        margin-left: 0.5rem;
        min-width: 80px;
    }

    &.invalid {
        --background: var(--errorQuaternaryColor);
        --border: var(--errorPrimaryColor);
        --focus: var(--errorTertiaryColor);

        input {
            border: 1px solid var(--border);
        }
    }
}
